/*
Tokyonight Moon  -  Trilium Tokyonight moon Theme 
Ported from : https://github.com/folke/tokyonight.nvim/raw/main/lua/tokyonight/colors.lua
Source : 
Built off trilium default base
https://github.com/zadam/trilium/blob/master/src/public/stylesheets/theme-light.css 


*/

/* -------------------- Import Fonts -------------------- */

/* You should REALLY just install Inter and Fira Code:
https://github.com/rsms/inter
https://github.com/tonsky/FiraCode
But this will try and import them if you dont have them */

@import url('https://rsms.me/inter/inter.css');
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* -------------------- Root Trillium Theme -------------------- */
:root {
    /*
    
    
    
    M.moon = function()
  local ret = {
    none = "NONE",
    bg_dark = "#1e2030", --
    bg = "#222436", --
    bg_highlight = "#2f334d", --
    terminal_black = "#444a73", --
    fg = "#c8d3f5", --
    fg_dark = "#828bb8", --
    fg_gutter = "#3b4261",
    dark3 = "#545c7e",
    comment = "#7a88cf", --
    dark5 = "#737aa2",
    blue0 = "#3e68d7", --
    blue = "#82aaff", --
    cyan = "#86e1fc", --
    blue1 = "#65bcff", --
    blue2 = "#0db9d7",
    blue5 = "#89ddff",
    blue6 = "#b4f9f8", --
    blue7 = "#394b70",
    purple = "#fca7ea", --
    magenta2 = "#ff007c",
    magenta = "#c099ff", --
    orange = "#ff966c", --
    yellow = "#ffc777", --
    green = "#c3e88d", --
    green1 = "#4fd6be", --
    green2 = "#41a6b5",
    teal = "#4fd6be", --
    red = "#ff757f", --
    red1 = "#c53b53", --
  }
    
    
    
    
    # vim:ft=kitty

    ## name: Tokyo Night Moon
    ## license: MIT
    ## author: Folke Lemaitre
    ## upstream: https://github.com/folke/tokyonight.nvim/raw/main/extras/kitty/tokyonight_moon.conf


    background #222436
    foreground #c8d3f5
    selection_background #2d3f76
    selection_foreground #c8d3f5
    url_color #4fd6be
    cursor #c8d3f5
    cursor_text_color #222436

    # Tabs
    active_tab_background #82aaff
    active_tab_foreground #1e2030
    inactive_tab_background #2f334d
    inactive_tab_foreground #545c7e
    #tab_bar_background #1b1d2b

    # Windows
    active_border_color #82aaff
    inactive_border_color #2f334d

    # normal
    color0 #1b1d2b
    color1 #ff757f
    color2 #c3e88d
    color3 #ffc777
    color4 #82aaff
    color5 #c099ff
    color6 #86e1fc
    color7 #828bb8

    # bright
    color8 #444a73
    color9 #ff757f
    color10 #c3e88d
    color11 #ffc777
    color12 #82aaff
    color13 #c099ff
    color14 #86e1fc
    color15 #c8d3f5

    # extended colors
    color16 #ff966c
    color17 #c53b53
    
    
    
    */
    
    /* either light or dark, colored theme with darker tones are also dark, used e.g. for note map node colors */
    
    --theme-style: dark;

    --main-font-family: Inter;
    --main-font-size: normal;

    --tree-font-family: Inter;
    --tree-font-size: normal;

    --detail-font-family: Inter;
    --detail-font-size: normal;

    --monospace-font-family: Fira Code;
    --monospace-font-size: normal;

    --main-background-color: #1e2030;
    --main-text-color: #c8d3f5;
    --main-border-color: #7aa2f7;
    
    --accented-background-color: #c8d3f5;
    --more-accented-background-color: #777;

    --button-background-color: transparent;
    --button-border-color: #ccc; /* #ccc */
    --button-text-color: currentColor;
    --button-border-radius: 5px;
    --button-disabled-background-color: transparent;
    /* --button-disabled-text-color: #999; */

    --primary-button-background-color: #888;
    --primary-button-text-color: white;
    --primary-button-border-color: #999; 
    
    --muted-text-color: #bbb;

    --input-text-color: #ccc;
    --input-background-color: #3b4261;    /*  #333 */

    --hover-item-text-color: #ccc;  /* Color code  : #ccc   launcher bar, menus, etc */ 
    --hover-item-background-color: transparent;
    
 
    --active-item-text-color: black;
    --active-item-background-color: #777;
   
    --menu-text-color: #41a6b5;
    --menu-background-color: #1e2030; 
    
    
    --modal-background-color: #1e2030;  /*  #333 */
    --modal-backdrop-color: #444;

    --left-pane-background-color: #1e2030;
    --left-pane-text-color: #41a6b5;

    --launcher-pane-background-color: #1f1f1f ; /* #1f1f1f */
    --launcher-pane-text-color: #41a6b5;

    --active-tab-background-color: #a4b1cd;
    --active-tab-hover-background-color: #c3e88d;   /* #737373 */
    --active-tab-text-color: #c0fca7;

    --inactive-tab-background-color: #2c2c2c;  /* #2c2c2c */ 
    --inactive-tab-hover-background-color: #c3e88d;
    --inactive-tab-text-color: #bbb;

    --scrollbar-border-color: #41a6b5;
    --tooltip-background-color:  #333;   /*  #333 */ 
    --link-color: #87CEFA;

    --mermaid-theme: dark;
}
      
        
/* -------------------- Beyond Root -------------------- */

/* That's all the official Trilium theme style gives us.
But it still doesn't look good.
We are going to have to get extracurricular. */

/* switch app icons  */
body .global-menu-button {
    /*background-image: url("../../../images/icon-black.png"); */
    /*background-image: url("/images/icon-black.png");*/
    background-image: url("/custom/icon-blue01.png");
    border: 0px solid rgb(159, 239, 0) !important ;
}

/* opened note tab borders */
/* active */
.note-tab[active] .note-tab-wrapper {
    border: 1px solid rgb(255, 175, 0) !important;   
}
/* active hover */
.note-tab[active] .note-tab-wrapper:hover {
    border: 1px solid #FFF !important;
    color: #FFF !important;
}
/* inactive */
.note-tab:not([active]) .note-tab-wrapper {
 
}
/* inactive hover */
.note-tab:not([active]) .note-tab-wrapper:hover {
    border: 1px solid #FFF !important;
    color: #FFF !important;
}

/* tree list items */
/* hover */
#ft-id-1 .fancytree-node:hover {
    background-color: #fca7ea !important ;   /* #0784b5  */
    color: #FFF !important;
    border: 2px solid #FFF !important;
}
/* active */
#ft-id-1 .fancytree-active {
    background-color: #fca7ea !important; 
    color: #FFF !important; 
    border: 2px solid rgb(255, 175, 0) /* rgb(255, 175, 0)*/  !important;
}

/* floating tree buttons */
/* hover */
.tree-floating-button:hover {
    background-color: #fca7ea  !important;
    color: #FFF !important;
}

/* backlinks menu */
.backlinks-items {
    background-color: #ddd !important;
    color: rgba(159, 239, 0, 0.60) !important;
    border: 1px solid #FFF !important;
}

/* launcher pane */
/* icon hover */
#launcher-pane .button-widget:hover {
    color: #FFF !important;   
}
/* icons not caught by above rule */
#launcher-pane .right-dropdown-widget button:hover {
    color: #FFF !important;      
}

/* text label in find and replace dialog */
/* Zadam used this to address this issue in Trillium proper:
https://github.com/zadam/trilium/commit/83f8fac088f4bacbe9bed15637895f4b594fac14
Leaving here for now because (1) works in older versions (2) provides control of text color not just bg color */
.ck-find-and-replace-form__find .ck-labeled-field-view .ck-labeled-field-view__input-wrapper label.ck-label {
    background-color: #033c53 !important;
    color: #1e2030 !important;  
}

/* CKeditor find and replace highlights  */
/* while I could customize highlight color, leave the same so it matches the other trilium find method
But we should still update text color because are global whites look bad */
.ck-find-result {
    color: #000 !important;
}
.ck-find-result_selected {
    color: #000 !important;
}

/* attempt a grid layout for basic properties */
.basic-properties-widget {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content))  !important;
}

/* attempt a grid layout for promoted attributes */
.promoted-attributes-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content))  !important;
}

/* @note link popup highlights
for some reason if I try a less specific selector the bg and border work but not the font color. */
body > div.ck-body-wrapper > div > div.ck.ck-balloon-panel.ck-balloon-panel_caret_se.ck-balloon-panel_visible > div > div.ck-balloon-rotator__content > ul > li > button.ck-on {
    background-color:#0784b5 !important;
    color: #FFF !important;
    border: 1px solid #FFF !important;  
}


/* fix main left bar calendar picker */
body ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* fix small calendar picker */
/* well turns, best I can tell, this is a Chromium widget that can't be themed?
https://developers.google.com/web/updates/2012/08/Quick-FAQs-on-input-type-date-in-Google-Chrome#how_do_i_change_the_appearance_of_the_date_picker
I guess to theme it Trilium would need its own widget */

/* -------------------- Highly Opinionated -------------------- */
/* allow max width notes, but add slight side margins for gutter comfort */
.note-split {
    max-width:100% !important;
}
#center-pane {
    margin-left:0.5em !important;
    margin-right:0em !important;
}


/* -------------------- Fixing Code View -------------------- */

/*
Trilium uses Code Mirror. Code Mirror has themes!
Code Mirror Themes can be previewed here:
https://codemirror.net/demo/theme.html
And the relevant code in their github, for example here is "material darker":
https://github.com/codemirror/CodeMirror/blob/master/theme/material-darker.css
We can't use this straight away in Trilium, we have to adapt it from the prefixed codemirror subtheme to the "default" code mirror theme Trilium expects. A find and replace like this does the job:
.cm-s-material-darker” to “.cm-s-default”
Hooray, now we can directly control the code theming!
*/

/*
    Code Mirror Theme: acdef
    Source: https://github.com/codemirror/CodeMirror/blob/master/theme/abcdef.css
*/
.cm-s-default.CodeMirror { background: #1E2030 ; color: #defdef; } /* #141d2b */
.cm-s-default div.CodeMirror-selected { background:  #0086ff; }
.cm-s-default .CodeMirror-line::selection, .cm-s-default .CodeMirror-line > span::selection, .cm-s-default .CodeMirror-line > span > span::selection { background: rgba(56, 56, 56, 0.99); }
.cm-s-default .CodeMirror-line::-moz-selection, .cm-s-default .CodeMirror-line > span::-moz-selection, .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: rgba(56, 56, 56, 0.99); }
.cm-s-default .CodeMirror-gutters { background: #555; border-right: 2px solid #314151; }
.cm-s-default .CodeMirror-guttermarker { color: #222; }
.cm-s-default .CodeMirror-guttermarker-subtle { color: azure; }
.cm-s-default .CodeMirror-linenumber { color: #FFFFFF; }
.cm-s-default .CodeMirror-cursor { border-left: 1px solid #00FF00; }

.cm-s-default span.cm-keyword { color: darkgoldenrod; font-weight: bold; }
.cm-s-default span.cm-atom { color: #77F; }
.cm-s-default span.cm-number { color: violet; }
.cm-s-default span.cm-def { color: #fffabc; }
.cm-s-default span.cm-variable { color: #abcdef; }
.cm-s-default span.cm-variable-2 { color: #cacbcc; }
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-type { color: #def; }
.cm-s-default span.cm-property { color: #fedcba; }
.cm-s-default span.cm-operator { color: #ff0; }
.cm-s-default span.cm-comment { color: #7a7b7c; font-style: italic;}
.cm-s-default span.cm-string { color: #2b4; }
.cm-s-default span.cm-meta { color: #C9F; }
.cm-s-default span.cm-qualifier { color: #FFF700; }
.cm-s-default span.cm-builtin { color: #30aabc; }
.cm-s-default span.cm-bracket { color: #8a8a8a; }
.cm-s-default span.cm-tag { color: #FFDD44; }
.cm-s-default span.cm-attribute { color: #DDFF00; }
.cm-s-default span.cm-error { color: #FF0000; }
.cm-s-default span.cm-header { color: aquamarine; font-weight: bold; }
.cm-s-default span.cm-link { color: blueviolet; }

.cm-s-default .CodeMirror-activeline-background { background: #314151; }

/*
Code Mirror theme overrides:
Any part of the above Code Mirror theme we want to override
*/
.cm-s-default span.cm-comment { color: #8e9091; }

/*
Final Code Mirror Tweaks
There are some things even the Code Mirror themes don't tackle that we really need to fix.
*/

/* the matching highlight looks very bad */
.cm-matchhighlight {
    background-color:  #a4b1cd !important;
}

